## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

# Criando os DataFrames para cada matéria
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Matemática'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Português'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Geografia'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Inglês'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['História'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Física'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Química'])

# Concatenando todos os DataFrames
df = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

# (1) Calcular o percentual de acerto dos alunos por assunto
total_questoes = {
    'Matemática': 24,
    'Português': 18,
    'Geografia': 8,
    'Inglês': 8,
    'História': 8,
    'Física': 12,
    'Química': 12
}

percentual_acerto = df / pd.Series(total_questoes) * 100

# (2) Calcular o total de acertos de cada aluno
total_acertos = df.sum(axis=1)

# (3) Calcular o percentual geral de cada aluno
percentual_geral = (total_acertos / sum(total_questoes.values())) * 100

# (4) Verificar quantos alunos tiveram nota maior que 45
alunos_acima_corte = (total_acertos > 45).sum()

# Exibindo os resultados
print("Percentual de acerto por assunto:\n", percentual_acerto.head())
print("\nTotal de acertos de cada aluno:\n", total_acertos.head())
print("\nPercentual geral de cada aluno:\n", percentual_geral.head())
print("\nNúmero de alunos com nota maior que 45:", alunos_acima_corte)

Percentual de acerto por assunto:
    Matemática  Português  Geografia  Inglês  História     Física    Química
0   25.000000  38.888889       87.5    37.5      12.5  66.666667  25.000000
1   79.166667  55.555556        0.0     0.0       0.0  91.666667  66.666667
2   58.333333  88.888889        0.0    62.5      87.5  33.333333  33.333333
3   41.666667  38.888889       37.5    50.0       0.0   0.000000  66.666667
4   29.166667  11.111111       25.0    87.5       0.0  75.000000  25.000000

Total de acertos de cada aluno:
 0    35
1    48
2    50
3    32
4    30
dtype: int64

Percentual geral de cada aluno:
 0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
dtype: float64

Número de alunos com nota maior que 45: 31

In [ ]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [ ]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [ ]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [ ]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# Concatenando todos os DataFrames
df = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

# (1) Identificar os alunos desqualificados por zerarem em Matemática, Física ou Química
desqualificados = df[(df['Matemática'] == 0) | (df['Física'] == 0) | (df['Química'] == 0)]

# (2) Contar o número de alunos desqualificados
num_desqualificados = desqualificados.shape[0]

# (3) Calcular a média dos alunos desqualificados em História e Geografia
media_hist_geo_desqualificados = desqualificados[['História', 'Geografia']].mean()

# (4) Criar um DataFrame com os alunos que passaram para a segunda fase
passaram_segunda_fase = df[(df['Matemática'] > 0) & (df['Física'] > 0) & (df['Química'] > 0)]

# Exibindo os resultados
print("Número de alunos desqualificados:", num_desqualificados)
print("\nMédia dos desqualificados em História e Geografia:\n", media_hist_geo_desqualificados)
print("\nAlunos que passaram para a segunda fase:\n", passaram_segunda_fase.head())

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
import pandas as pd

arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-80423a9a-53c0-4cfb-92a1-795c08743288.c000.csv'

# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [ ]:
# 1. Quantas vacinas estão registradas nessa base?
total_vacinas = len(df)
print("Total de vacinas registradas:", total_vacinas)

Total de vacinas registradas: 388626

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388626 entries, 0 to 388625
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               388626 non-null  object
 1   paciente_id                               388626 non-null  object
 2   paciente_idade                            388626 non-null  int64
 3   paciente_dataNascimento                   388626 non-null  object
 4   paciente_enumSexoBiologico                388626 non-null  object
 5   paciente_racaCor_codigo                   388626 non-null  int64
 6   paciente_racaCor_valor                    388626 non-null  object
 7   paciente_endereco_coIbgeMunicipio         386190 non-null  float64
 8   paciente_endereco_coPais                  386196 non-null  float64
 9   paciente_endereco_nmMunicipio             386195 non-null  object
 10  paciente_endereco_nmPais                  386196 non-null  object
 11  paciente_endereco_uf                      386190 non-null  object
 12  paciente_endereco_cep                     331761 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  388447 non-null  object
 14  estabelecimento_valor                     388626 non-null  int64
 15  estabelecimento_razaoSocial               388626 non-null  object
 16  estalecimento_noFantasia                  388626 non-null  object
 17  estabelecimento_municipio_codigo          388626 non-null  int64
 18  estabelecimento_municipio_nome            388626 non-null  object
 19  estabelecimento_uf                        388626 non-null  object
 20  vacina_grupoAtendimento_codigo            388626 non-null  int64
 21  vacina_grupoAtendimento_nome              387282 non-null  object
 22  vacina_categoria_codigo                   367893 non-null  float64
 23  vacina_categoria_nome                     367893 non-null  object
 24  vacina_lote                               388626 non-null  object
 25  vacina_fabricante_nome                    388626 non-null  object
 26  vacina_fabricante_referencia              383351 non-null  object
 27  vacina_dataAplicacao                      388626 non-null  object
 28  vacina_descricao_dose                     388626 non-null  object
 29  vacina_codigo                             388626 non-null  int64
 30  vacina_nome                               388617 non-null  object
 31  sistema_origem                            388227 non-null  object
dtypes: float64(4), int64(6), object(22)
memory usage: 94.9+ MB

In [ ]:
# 2. Quantos pacientes foram vacinados?
pacientes_unicos = df['paciente_id'].nunique()
print("Total de pacientes vacinados:", pacientes_unicos)

Total de pacientes vacinados: 317471

In [ ]:
# 3. Quantos pacientes únicos tomaram a primeira dose?

primeira_dose = df[df['vacina_descricao_dose'] == '1ª Dose']
num_pacientes_primeira_dose = primeira_dose['paciente_id'].nunique()
print("Número de pacientes que tomaram a primeira dose:", num_pacientes_primeira_dose)

Número de pacientes que tomaram a primeira dose: 143469

In [ ]:
# 4. Quantos pacientes com menos de 18 anos foram vacinados?
# Assumindo que a coluna 'idade' existe e contém valores numéricos
pacientes_menores_18 = df[df['paciente_idade'] < 18]['paciente_id'].nunique()
print("Total de pacientes com menos de 18 anos vacinados:", pacientes_menores_18)

Total de pacientes com menos de 18 anos vacinados: 68910

In [ ]:
# 5. Quantos estabelecimentos aplicaram vacina no Acre?
estabelecimentos = df['estabelecimento_razaoSocial'].nunique()
print("Total de estabelecimentos que aplicaram vacina:", estabelecimentos)

Total de estabelecimentos que aplicaram vacina: 63

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)
df_menor = df[df["paciente_idade"]<18].copy()

In [ ]:
# 2)
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [ ]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      48114
Povos Indígenas                                    4757
Outros                                             3755
Povos e Comunidades Tradicionais                    874
Trabalhadores de Saúde                              264
Comorbidades                                         57
População Privada de Liberdade                       53
Gestantes                                            45
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [ ]:
# 4 & 5)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [ ]:
# 6)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(211, 6)