# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [7]:
import pandas as pd
import numpy as np

# Dados
dados = [
    (1900, -0.08),
    (1920, -0.27),
    (1940, 0.12),
    (1960, -0.03),
    (1980, 0.26),
    (2000, 0.40),
    (2020, 1.02)
]

# DataFrame
df = pd.DataFrame(dados, columns=['Ano', 'Anomalia_Termica'])

print(serie_temperatura)

Ano
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia_Termica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:

# seu código aqui
# Convertendo a coluna 'Ano' para o índice
serie_temperatura = df.set_index('Ano')['Anomalia_Termica']
print(serie_temperatura)

Ano
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia_Termica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Criando uma Série do Pandas diretamente a partir do dicionário
serie_temperatura = pd.Series(dic_temperaturas)

print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

# Convertendo para DataFrame
df = pd.DataFrame(arr)

print(df)

             0           1           2
0   114.028753  104.249608  102.116637
1    96.603428   93.852198   88.853907
2    98.220182   93.433113  111.366929
3   100.148485   92.959279   88.929614
4    89.011328   98.561267   99.009829
5    92.935380  115.254216   86.385742
6   107.912155  127.555553  101.545036
7    92.400333   87.229872  107.966394
8   105.375600   95.309811  112.867823
9   102.199572  107.124279  107.953887
10  108.249036   91.427723   84.848230
11  109.936467  104.349650   96.823762
12  100.007561  106.385249   96.482627
13  103.175203  104.778518  108.472637
14  104.353817  102.807911   90.900046
15  102.405275   90.124754  104.132308
16  115.606126   98.252415  100.560854
17   80.695073   99.238555  106.081201
18   76.813719  111.218800   75.876875
19   97.649478   96.185765  107.477357

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
#seu código aqui

# Renomeando os índices das linhas
df.index = np.arange(1, 21)

# Renomeando as colunas
df.columns = ['x1', 'x2', 'x3']

print(df)

            x1          x2          x3
1   114.028753  104.249608  102.116637
2    96.603428   93.852198   88.853907
3    98.220182   93.433113  111.366929
4   100.148485   92.959279   88.929614
5    89.011328   98.561267   99.009829
6    92.935380  115.254216   86.385742
7   107.912155  127.555553  101.545036
8    92.400333   87.229872  107.966394
9   105.375600   95.309811  112.867823
10  102.199572  107.124279  107.953887
11  108.249036   91.427723   84.848230
12  109.936467  104.349650   96.823762
13  100.007561  106.385249   96.482627
14  103.175203  104.778518  108.472637
15  104.353817  102.807911   90.900046
16  102.405275   90.124754  104.132308
17  115.606126   98.252415  100.560854
18   80.695073   99.238555  106.081201
19   76.813719  111.218800   75.876875
20   97.649478   96.185765  107.477357

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui

# Criando a nova coluna 'media' com a média das colunas existentes
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

print(df)

            x1          x2          x3       media
1   114.028753  104.249608  102.116637  106.798333
2    96.603428   93.852198   88.853907   93.103178
3    98.220182   93.433113  111.366929  101.006741
4   100.148485   92.959279   88.929614   94.012459
5    89.011328   98.561267   99.009829   95.527475
6    92.935380  115.254216   86.385742   98.191780
7   107.912155  127.555553  101.545036  112.337581
8    92.400333   87.229872  107.966394   95.865533
9   105.375600   95.309811  112.867823  104.517745
10  102.199572  107.124279  107.953887  105.759246
11  108.249036   91.427723   84.848230   94.841663
12  109.936467  104.349650   96.823762  103.703293
13  100.007561  106.385249   96.482627  100.958479
14  103.175203  104.778518  108.472637  105.475453
15  104.353817  102.807911   90.900046   99.353925
16  102.405275   90.124754  104.132308   98.887446
17  115.606126   98.252415  100.560854  104.806465
18   80.695073   99.238555  106.081201   95.338276
19   76.813719  111.218800   75.876875   87.969798
20   97.649478   96.185765  107.477357  100.437534

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [19]:
# seu código aqui

# Criando a coluna 'log_med' com o logaritmo natural da média
df['log_med'] = np.log(df['media'])

print(df)

            x1          x2          x3       media   log_med
1   114.028753  104.249608  102.116637  106.798333  4.670942
2    96.603428   93.852198   88.853907   93.103178  4.533708
3    98.220182   93.433113  111.366929  101.006741  4.615187
4   100.148485   92.959279   88.929614   94.012459  4.543427
5    89.011328   98.561267   99.009829   95.527475  4.559414
6    92.935380  115.254216   86.385742   98.191780  4.586923
7   107.912155  127.555553  101.545036  112.337581  4.721508
8    92.400333   87.229872  107.966394   95.865533  4.562947
9   105.375600   95.309811  112.867823  104.517745  4.649357
10  102.199572  107.124279  107.953887  105.759246  4.661165
11  108.249036   91.427723   84.848230   94.841663  4.552209
12  109.936467  104.349650   96.823762  103.703293  4.641534
13  100.007561  106.385249   96.482627  100.958479  4.614709
14  103.175203  104.778518  108.472637  105.475453  4.658478
15  104.353817  102.807911   90.900046   99.353925  4.598688
16  102.405275   90.124754  104.132308   98.887446  4.593982
17  115.606126   98.252415  100.560854  104.806465  4.652115
18   80.695073   99.238555  106.081201   95.338276  4.557431
19   76.813719  111.218800   75.876875   87.969798  4.476994
20   97.649478   96.185765  107.477357  100.437534  4.609536